**/*.bbl
**/*.out
**/*.log
**/*.gz
**/*.blg
**/*.aux
**/*-blx.bib
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.idx
**/*.ist
**/*.run.xml
**/*.toc

*.lof
*.lot
*.nlo
*.tdo
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.bcf
*.xdv

_minted-*/**
